<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <p1>Green Horizons is an environmental awareness organization dedicated to creating a sustainable and thriving planet for future generations. Our mission is to inspire, educate, and empower individuals and communities to take actionable steps towards environmental conservation and sustainability.
<br>
<br>
At Green Horizons, we believe that every small action can lead to significant positive changes. Our team is passionate about promoting eco-friendly practices, reducing waste, conserving natural resources, and protecting wildlife habitats. We work tirelessly to raise awareness about the pressing environmental issues facing our world today and advocate for effective solutions.
<br>
<br>
<br>
<b>Our Vision:</b><br><br> We envision a world where humanity lives in harmony with nature, where sustainable practices are the norm, and where the health of our planet is prioritized. Our vision is to create a global community of environmentally conscious individuals who actively contribute to the preservation and restoration of our natural environment.
<br>
<br>
<br>
<b>Our Mission:</b><br><br> Our mission is to foster a culture of sustainability through education, advocacy, and hands-on initiatives. We aim to provide resources, support, and inspiration to individuals and organizations looking to make a positive impact on the environment. From local clean-up events to global awareness campaigns, Green Horizons is dedicated to making a difference.</p1>
</body>
</html>