<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
    
</head>
<body>
    <div class="content"> 
   
  <h1><center><b>GREEN HORIZONS</b></center></h1>
  
   <center> <p1>"🌍 Protecting Our Planet, Preserving Our Future 🌱"</p1></center>
   <br>
   <div class="background-section"></div>
   <br>
   <p2>Welcome to our official page of <b>GREEN HORIZONS.Org.Ltd.🌿</b></p2>
   <br>
   <p3><br>At Green Horizons, we believe in a future where our planet thrives. Join us in our mission to protect, preserve, and restore the natural world. Every action, big or small, counts towards creating a sustainable tomorrow.</p3>
   <br>
   <br>
   <br>
   <p4><b>Take Action Today 🌱</b>
    <br>
    <br>Become a part of the solution! Whether it’s reducing your carbon footprint, supporting conservation efforts, or advocating for policy changes, there are numerous ways to contribute. Explore our resources and discover how you can make a difference.</p4>
    <br>
    <br>
    <p5><b>Get Involved 🌏</b>
        <br>
        <br>
        From local clean-up events to global campaigns, there are countless opportunities to get involved. Together, we can create lasting change. Check out our upcoming events and find out how you can participate in making our planet a better place.</p5>
   <br>
   <br>
   <nav>
       <a href = "aboutus.html"> <button>About us</button></a>
    <br>
    <br>
    <p6>To become a part, register yourself here. Click below.</p6>
    <br>
    <br>
    <a href = "mempg.html"><button>Register Online</button></a></div>
    <br>
    <br>

</body>
</html>